.profile-id {
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

.profile-name {
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}


