<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        >
<!-- 
	<bean id="noticeDao" class="com.eoot.jspprj.dao.mybatis.MyBNoticeDao"/>
	<bean id="view" class="nami.spring.NoticeView">
		<property name="noticeDao" ref="noticeDao"></property>
	</bean> -->
	
	<bean id="exam" class="nami.spring.Exam">
		<constructor-arg name="eng" type="int" value="30"/>
		<constructor-arg name="kor" type="int" value="60"/>
		<constructor-arg name="math" type="int" value="90"/>  
	</bean>
<!-- 	<bean id="exam" class="nami.spring.Exam">
		<property name="kor" value="80"></property> 
		<property name="eng" value="90"></property>
		<property name="math">
			<value>100</value>
		</property>
	</bean> -->
	<!-- 
	List<Exam> exams = new ArrayList<Exam>(); 
	exams.add(new Exam(10, 10, 10));
	exams.add(new Exam(20, 20, 20));
	
	ExamMng mng = new ExamMng();
	mng.setExams(exams);
	-->
	<bean id="exams" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<bean class="nami.spring.Exam">
					<constructor-arg value="10"/>
					<constructor-arg value="10"/>
					<constructor-arg value="10"/>
				</bean>
				<bean class="nami.spring.Exam">
					<constructor-arg value="20"/>
					<constructor-arg value="20"/>
					<constructor-arg value="20"/>
				</bean>
			</list>
		</constructor-arg>
	</bean>
	<context:annotation-config />
	<bean id="mng" class="nami.spring.ExamMng">
		<!-- <property name="exams" ref="exams"></property>  -->
	</bean>
	

</beans>